version: "3.9"

services:
  frontend:
    image: 06887922193/novaloja-frontend:1.0.0
    build:
      context: ./frontend/virtualNfcFrontend
    env_file:
      - .env.dev
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-net


networks:
  app-net:
    external: true
