version: "3.9"

services:
  frontend:
    build: .
    args:
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: frontend-app
    ports:
      - "80:80"
    networks:
      - app-net

networks:
  app-net:
    external: true
