version: "3.9"

services:
  frontend:
    image: novaloja-frontend
    container_name: frontend

    build:
      context: ./frontend/virtualNfcFrontend
    env_file:
      - .env.prod
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-net


networks:
  app-net:
    external: true
