
.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: linear-gradient(90deg, #636464, #f1f1f1);

}

.edit-card {
  width: 100%;
  max-width: 760px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(25px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(90deg, #0d0d0e, #696868);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: #cdd6e4;
}

input {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.25);
  color: rgb(17, 17, 17);
  font-size: 1rem;
  backdrop-filter: blur(6px);
  transition: 0.25s;

  &:focus {
    outline: none;
    border-color: #87ceeb;
    box-shadow: 0 0 8px rgba(135, 206, 235, 0.4);
  }
}

.save-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: linear-gradient(135deg, #4caf50, #2e7d32);
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 600px) {
  .edit-card {
    padding: 25px 20px;
  }

  .title {
    font-size: 2rem;
  }

  input {
    font-size: 0.95rem;
  }

  .save-btn {
    font-size: 1rem;
  }
  .form-group {
  margin-bottom: 20px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin: 10px 0;

  label {
    cursor: pointer;
  }
}

.preview {
  margin-top: 10px;
  width: 100%;
  height: 70px;
  border-radius: 8px;
  border: 1px solid #444;
}

}
