<!-- coloque estas 3 DIVs UMA única vez, ANTES do .view-wrapper -->
<div class="infinity-grid" aria-hidden="true"></div>
<div class="background-layer" aria-hidden="true"></div>
<div class="foreground-layer" aria-hidden="true"></div>
<div class="view-wrapper">
<header class="top-header">
  <div class="brand-title-wrapper">
    <h2 class="brand-title">{{ typedTitle }}</h2>
  </div>

  <div class="brand-subtitle-wrapper">
    <span class="brand-subtitle">{{ currentMessage }}</span>
  </div>
</header>



  <!-- CARTÃO NFC ANIMADO -->
  <div class="nfc-card">
    <div class="nfc-icon"></div>
    <p class="typing-text">Network Instantâneo</p>
  </div>

  <div *ngIf="!showMidiasSociais" class="cadastro-section">
    <h1>Seu cartão digital começa aqui</h1>
    <p>Para gerar seu cartão NFC exclusivo, clique no botão abaixo.</p>

    <button (click)="beClienteClick()" class="btn-seja-cliente">
      Criar meu protótipo agora
    </button>
  </div>

  <midias-sociais *ngIf="showMidiasSociais" (voltar)="voltarClick()">
  </midias-sociais>

</div>
